@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/ssd.css" rel="stylesheet" />
<div class="container">

    <!-- Portfolio-->
    <section class="content-section" id="portfolio">
        <div class="container px-5 px-lg-5">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Serviecs</h2>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="Search" >
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Search </div>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/icon/find.png" alt="..." style="background-color:#415a77;" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="Locations">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Locations </div>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/icon/pin.png" alt="..." style="background-color:#415a77;" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="Advices">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Advices </div>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/icon/book.png" alt="..." style="background-color:#415a77;" />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="Clips">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Clips </div>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/icon/movie.png" alt="..." style="background-color:#415a77;" />
                    </a>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="Diseases">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Diseases  </div>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/icon/cat.png" alt="..." style="background-color:#415a77;" />
                        </a>
                    </div>


            </div>
        </div>
        </div>
    </section>
</div>